  <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Nowy sprint</span>

<%= form_for @sprint do |f| %>

    <div class="field">
        <%= f.label :sprintName %>
        <%= f.text_field :sprintName, autofocus: true %>
    </div>

    <div class="field">
        <%= f.label :sprintDescription %>
        <%= f.text_field :sprintDescription %>
    </div>

        <%= f.label :projects_id %>
        <%= f.collection_select :projects_id, Project.order(:name),:id,:name, include_blank: false%>

    <div class="actions">
        <%= f.submit "Utwórz", :class => 'waves-effect waves-light btn' %>
    </div>

<% end %>

        </div>
          </div>
        </div>
      </div>