<p class="white-text" style="font-size:larger; text-align:center; text-decoration: underline;">Lista userów</p>
<ul class="white-text" style="font-size:large; text-align:center;">
<% @users = User.select("email") %>
  <% @users.each do |user| %>
    <li>
      <%= user.email %>
    </li>
  <% end %>
</ul>

<p class="white-text" style="font-size:larger; text-align:center; text-decoration: underline;">Lista projektów developerskich</p>
<ul class="white-text" style="font-size:large; text-align:center;">
  <% Project.all.each do |project| %>
    <li>
        <%= project.name %> ----- <%= project.description %>
        <% @sprints = Sprint.where(projects_id: project.id)
        @sprints.each do |sprint| %>
          === <%= sprint.sprintName %> ----- <%= sprint.sprintDescription %>
        <% end %>
    </li>
  <% end %>
</ul>

<li><%= link_to "Nowy projekty", projects_new_path, :class => "waves-effect waves-light btn" %></li>