<div class="row">


<div class="col s12 m6">
   <div class="card red indigo darken-2">
      <div class="card-content white-text">
         <span class="card-title"><b>N</b>a Skróty</span>
         <p class="additionalinfo">W tej sekcji mamy dostęp do najważniejszych akcji. (Tylko admin)</p>
          <div class="divider"></div>
         <center> Liczba Projektów:  <div class="chip">
         
         <%= @assignments = Assignment.where(user_id: current_user.id).count %>

         </div> Liczba Sprintów:  <div class="chip">

         <% @numberOfSprints = 0 %> 
         <% @assignments = Assignment.where(user_id: current_user.id) %>
         <% @assignments.each do |assignment| %>
            <% @projects = Project.where(id: assignment.project_id) %>
            <% @projects.each do |project| %>
              <% @sprints = Sprint.where(project_id: project.id) %>
              <% @sprints.each do |sprint| %>
                <% @numberOfSprints+=1 %>
              <% end %>
            <% end %>
         <% end %>
         <%= @numberOfSprints %>

         </div> Liczba Zadań:  <div class="chip">
         
         <% @numberOfTasks = 0 %> 
         <% @assignments = Assignment.where(user_id: current_user.id) %>
         <% @assignments.each do |assignment| %>
            <% @projects = Project.where(id: assignment.project_id) %>
            <% @projects.each do |project| %>
              <% @sprints = Sprint.where(project_id: project.id) %>
              <% @sprints.each do |sprint| %>
                <% @tasks = Task.where(sprint_id: sprint.id) %>
                <% @tasks.each do |tasks| %>
                  <% @numberOfTasks+=1 %>
                <% end %>
              <% end %>
            <% end %>
         <% end %>
         <%= @numberOfTasks %>

         </div> </center>

         <div class="divider"></div>

      </div>
      <div class="card-action">
      <%= link_to "Nowy projekt", projects_new_path %>
      <%= link_to "Nowy sprint", sprints_new_path %>
      <%= link_to "Nowe zadanie", tasks_new_path %>

      </div>
   </div>
</div>





<div class="col s12 m6">
   <div class="card red darken-3">
      <div class="card-content white-text">
         <span class="card-title"><b>P</b>rojekty</span>
         <p class="additionalinfo">W tej sekcji dodajemy Projekty. (Tylko admin)</p>
         <div class="divider"></div>
         <ul class="black-text collection">




<% @assignments = Assignment.where(user_id: current_user.id) %>
  <% @assignments.each do |assignment| %>
    <% @projects = Project.where(id: assignment.project_id) %>
    <% @projects.each do |project| %>
      <li class="collection-item avatar">

        <%= image_tag("project.png", :class => "circle") %>
        <span class="title"> <%= link_to project.name, projects_index_path(:id => project.id) %></span>
        <p class="sprintdsc"> <%= project.description %>  </p>   
        <% @projectRole = ProjectRole.where(id: assignment.projectRole_id) %>
          <% @projectRole.each do |projRole| %>
            <p style="color: #083832; font-size: 11px;"> <i class="tiny material-icons">perm_identity</i> <%= projRole.projRoleName %> </p>
          <% end %>
          <p style="color: #383838; font-size: 11px;"> <i class="tiny material-icons">schedule</i> Data rozpoczęcia: <%= project.StartDate%> </p>
          <p style="color: #383838; font-size: 11px;"> <i class="tiny material-icons">alarm_off</i> Planowana data zakończenia: <%= project.EndDate %> </p>
      </li>
    <% end %>
  <% end %>


         </ul>
      </div>
      <div class="card-action">
         <%= link_to "Nowy projekt", projects_new_path %>

      </div>
   </div>
</div>


<div class="col s12 m6">
   <div class="card amber darken-4">
      <div class="card-content white-text">
         <span class="card-title"><b>S</b>printy</span>
         <p class="additionalinfo">W tej sekcji dodajemy sprinty do projektów. (Tylko admin)</p>
         <div class="divider"></div>
         <ul class="collection">
         <% @assignments = Assignment.where(user_id: current_user.id) %>
         <% @assignments.each do |assignment| %>
            <% @projects = Project.where(id: assignment.project_id) %>
            <% @projects.each do |project| %>
    <li class="collection-item">

      
     <p class="sprint"> Projekt:  <%= link_to project.name, projects_index_path(:id => project.id) %> </p>
      <div class="divider"></div>
       <% @sprints = Sprint.where(project_id: project.id) %>
        <% @sprints.each do |sprint| %>
       
           <p class-"sprint">  <%= sprint.sprintName %> </p>
           <p class="sprintdsc">  <%= sprint.sprintDescription %> </p>
        <% end %>
     
    </li>
  <% end %>
<% end %>

         </ul>
      </div>
      <div class="card-action">
         <%= link_to "Nowy sprint", sprints_new_path %>
      </div>
   </div>
</div>




<div class="col s12 m6">
   <div class="card green darken-3">
      <div class="card-content white-text">
         <span class="card-title"><b>Z</b>adania</span>
         <p class="additionalinfo">W tej sekcji dodajemy zadania do sprintów. (Tylko admin)</p>
         <div class="divider"></div>
         <ul class="collection">
         <% @assignments = Assignment.where(user_id: current_user.id) %>
         <% @assignments.each do |assignment| %>
            <% @projects = Project.where(id: assignment.project_id) %>
            <% @projects.each do |project| %>
              <% @sprints = Sprint.where(project_id: project.id) %>
              <% @sprints.each do |sprint| %>
              <li class="collection-item">
                <span class="sprint"> Sprint: </span> <span style="color: #195210; font-size: 16px;"><%= sprint.sprintName %> </span>
                <div class="divider"></div>
                <% @tasks = Task.where(sprint_id: sprint.id) %>
                <% @tasks.each do |task| %>
                <p >  <%= task.taskName %> </p>
                <p class="sprintdsc">  <%= task.taskDescription %> </p>
                <% end %>

              </li>
              <% end %>
            <% end %>
          <% end %>
         </ul>
      </div>
      <div class="card-action">
         <%= link_to "Nowe zadanie", tasks_new_path %>
      </div>
   </div>
</div>







</div>
       




