<<<<<<< HEAD
<h2>Rejestracja</h2>
=======

  <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Rejestracja</span>
              

>>>>>>> origin/master

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "Hasło" %>
    <% if @minimum_password_length %>
    <em>(Minimum <%= @minimum_password_length %> znaków)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Potwierdź hasło" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
<<<<<<< HEAD
    <%= f.submit "Zarejestruj się" %>
=======
     <%= f.submit "Zarejestruj", :class => 'waves-effect waves-light btn' %>
>>>>>>> origin/master
  </div>
<% end %>

<%= render "devise/shared/links" %>

        </div>
          </div>
        </div>
      </div>
