<div class="row">
<div class="col s12 m6">
   <div class="card  red darken-3 cardcenter">
      <div class="card-content white-text">
         <span class="card-title"> <%= @project.name%> </span>
         <p class="additionalinfo"><%= @project.description %></p>
         <div class="divider"></div>

<ul class="black-text collection">
          
        <% @sprints = Sprint.where(project_id: @project.id) 
          @sprints.each do |sprint| %>
           <li class="collection-item avatar"> 

          <%= image_tag("sprint.png", :class => "circle") %>
          <span class="title"><%= sprint.sprintName %></span>
          <p class="pdsc"> <%= sprint.sprintDescription %> </p>
             <%= link_to "Edytuj sprint", sprints_edit_path(:id => sprint.id), :class => "white-text secondary-content" %>

           </li>
            <% @tasks = Task.where(sprint_id: sprint.id)
            @tasks.each do |task| %>
             <li class="collection-item avatar">  
            <%= image_tag("task.png", :class => "circle") %>
          <span class="title"> <%= task.taskName %></span>

             <p class="zdsc">  <%= task.taskDescription %> </p>

            <%= link_to "Edytuj zadanie", tasks_edit_path(:id => task.id), :class => "white-text secondary-content" %>
          <% end %>
        <% end %>        
    </ul>

      </div>
      <div class="card-action">
        <%= link_to "Edytuj projekt", projects_edit_path(:id => @project.id) %>

      </div>
      <span class="card-title"> Lista użytkowników </span> </br>
      <% @assignments = Assignment.where(project_id: @project.id)
        @assignments.each do |assignment| %>
        <% @users = User.where(id: assignment.user_id)
          @users.each do |user| %>
          <%= user.email %>
          <% @projectRoles = ProjectRole.where(id: assignment.projectRole_id)
            @projectRoles.each do |projectRole| %>
            <%= projectRole.projRoleName %>
          <% end %>
          <% @adminAssignments = Assignment.where(project_id: @project.id)
            @adminAssignments.each do |adminAssignment| %>
            <% if adminAssignment.user_id == current_user.id && adminAssignment.projectRole_id == 1%>
              <%= link_to "Edytuj przydział", assignments_edit_path(:id => assignment.id) %>
              <%= link_to "Usuń przydział", assignment, method: :delete, data: { confirm: "Na pewno?" } %>
            <% end %>
          <% end %>
          </br>
        <% end %>
      <% end %>
      <% @adminAssignments = Assignment.where(project_id: @project.id)
        @adminAssignments.each do |adminAssignment| %>
        <% if adminAssignment.user_id == current_user.id && adminAssignment.projectRole_id == 1%>
          <%= link_to "Nowy przydział", assignments_new_path(:project_id => @project.id) %>
        <% end %>
      <% end %>
   </div>
</div>



</div>


